body {
    background:black;
    color: white;
    margin: auto;
    background: url(../img/fondo.jpg) no-repeat center top;
    padding: 1;
    font-size: 1.2rem;
    line-height: 1.1em;
}
.Login-box2 {
    width: 25%;
    height: 500px;
    background:  #000000;
    color: #fff;
    top: 400px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 0px;
     z-index: -1;
}
.Login-box2 form{
    padding-left:  30px;
    margin-top: -30px;
    
}
.Login-box2  .avatar{
    background: black;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0px;
    
}
    .avatar img{
width: 100px;
margin-left: 120PX;

    }

 .Login-box2 h1{
        margin: 40px;
        padding: 0px;
        text-align: center;
        font-size: 22px;
    }
    .Login-box2 label{
        margin: 0;
        padding: 0 0 20px;
         
         font-weight: bold;
         display: black;
    }
    .Login-box2 input{
        width: 260px;
        background:transparent;
        
        border-radius: 100px;
        margin-bottom:10px ;
        }
        .Login-box2 input [type="text"],
        .Login-box2 input [type="password"]{
            border: none;
         background:transparent;
            outline: none;
            height: 40px;
           
            font-size: 16px;
        }
       
        .Login-box2 a:hover{
            color: #fff;
        }

        .Login-box2 button{
            cursor: pointer;
            background: #fff7f7;
           color: rgb(245, 241, 241);
           padding: 5px;
           background:transparent;
          border-radius: 70px;
           margin-left: 100px;
           margin-top: 20px;
           font-size: 1.2rem;
           line-height: 1.1em;
           width: 120px;
        }
        .Login-box2 select{
            color: rgb(245, 241, 241);
            background:transparent;
            background: #000000;
        }
        .Login-box2 option{
            color: rgb(255, 247, 247);
            background:transparent; 
            background: #000000;
            
        }
        .Login-box2 input[type="date"]{ 
            color: rgb(255, 247, 247);
            background:transparent;
            background: #000000;
        }
